[Unit]
Description=Jonos server
After=network.target

[Service]
User=alan
WorkingDirectory=/home/alan/dev/jonos
Environment=NODE_ENV=production
Environment=DEBUG=jonos:*
ExecStart=/usr/local/bin/npm run start:prod
