[Unit]
Description=Jonos server
After=network.target

[Service]
User=alan
WorkingDirectory=/home/alan/dev/jonos
Environment=NODE_ENV=production
Environment=DEBUG=jonos:*
Environment=DEBUG_HIDE_DATE=1
ExecStart=/usr/local/bin/npm start

[Install]
WantedBy=multi-user.target
