[Unit]
Description=Jonos server
After=network.target

[Service]
User=alan
WorkingDirectory=/home/alan/dev/jonos
Environment=PATH=/home/alan/bin:/home/alan/.local/share/pnpm:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games:/home/alan/n/bin
ExecStart=sh -c 'npm run start:prod'

[Install]
WantedBy=multi-user.target
